*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background: #d66d75; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e29587,
    #d66d75
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e29587,
    #d66d75
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-size: $header1;
}

li,
button,
label,
input,
a,
p {
  font-size: $text;
}

h2 {
  font-size: $header2;
}

h3 {
  font-size: $header3;
}

h4,
h5 {
  font-size: $header4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $gray-text;
}
