main {
  height: 100vh;
  width: 90vw;
  margin: auto;
  margin-top: 5rem;
  height: auto;
  position: relative;
}

.intro-images {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 40%;

  &__title {
    text-align: center;
    color: rgba(255, 8, 255, 0.527);
    font-size: $header2;
    letter-spacing: 0.75rem;

    &__counter {
    }
  }

  button {
    background: $background-color;
    color: white;
    border: solid 1px rgba($color: #000000, $alpha: 0.1);
    border-radius: 10rem;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.8em;
    font-weight: 700;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
    &:hover {
      background: rgb(255, 109, 56);
      border: solid 1px white;
      color: $gray-text;
    }
  }
}

.counter {
  display: inline-flex;
  align-items: center;
}
